{% extends "base.html" %}

{% block title %} {{title}} {% endblock title %}

{% block content %}
<ul>
    {% for post in dataset %}
    <hr>
        <li>
            <h2>{{ post.title }}</h2>
            <p>{{ post.post }}</p>
            <p><strong>Хэштеги:</strong> {{ post.hashtags|join:", " }}</p>
            <p><strong>Просмотры:</strong> {{ post.views }}</p>
            <p><strong>Лайки:</strong> {{ post.likes }}</p>
            <p><strong>Комментарии:</strong></p>
            <ul>
                {% for comment in post.comments %}
                    <li><strong>{{ comment.username }}:</strong> {{ comment.text }}</li>
                {% endfor %}
            </ul>
        </li>
        
    {% endfor %}
</ul>
{% endblock content %}

 