{% extends 'base.html' %}

{% block title %}Письмо отправлено{% endblock %}

{% block content %}
<div class="container">
    <div class="form-container">
        <h2 class="text-center mb-4">Письмо отправлено</h2>
        <div class="alert alert-success" role="alert">
            <p>Мы отправили вам инструкции по восстановлению пароля на указанный email.</p>
            <p>Если вы не получили письмо, проверьте правильность введенного адреса и папку "Спам".</p>
        </div>
        <div class="text-center">
            <a href="{% url 'users:login' %}" class="btn btn-dark">Вернуться на страницу входа</a>
        </div>
    </div>
</div>
{% endblock %}