{% extends 'base.html' %}

{% block title %}Новый пароль{% endblock %}

{% block content %}
<div class="container">
    <div class="form-container">
        <h2 class="text-center mb-4">Введите новый пароль</h2>
        {% if validlink %}
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-dark w-100">Сохранить новый пароль</button>
            </form>
        {% else %}
            <div class="alert alert-danger" role="alert">
                <p>Ссылка для восстановления пароля недействительна.</p>
                <p>Возможно, вы уже использовали её ранее. Запросите новую ссылку для восстановления пароля.</p>
            </div>
            <div class="text-center">
                <a href="{% url 'users:password_reset' %}" class="btn btn-dark">Запросить новую ссылку</a>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}