{% extends 'base.html' %}

{% block title %}Пароль изменён{% endblock %}

{% block content %}
<div class="container">
    <div class="form-container">
        <h2 class="text-center mb-4">Пароль успешно изменён</h2>
        <div class="alert alert-success" role="alert">
            <p>Ваш пароль был успешно изменён. Теперь вы можете войти в систему.</p>
        </div>
        <div class="text-center">
            <a href="{% url 'users:login' %}" class="btn btn-dark">Войти в систему</a>
        </div>
    </div>
</div>
{% endblock %}