{% extends 'profile_base.html' %}

{% block profile_title %}Редактирование профиля{% endblock %}

{% block profile_content %}
<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                <div class="mb-3">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-dark w-100">Сохранить изменения</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}