{% extends 'profile_base.html' %}

{% block profile_title %}Смена пароля{% endblock %}

{% block profile_content %}
<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h4 class="mb-3">Изменить пароль</h4>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-dark w-100">Сохранить</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}