{% extends "base.html" %}

{% block title%}
    {{title}}   
{% endblock title %}



{% block content%}
    <h1>{{title}}</h1>
    <p>{{text}}</p>
    {% comment %} 
        <p><a href="{% url 'blog:categories' %}">Каталог категорий</a></p>
        <p><a href="{% url 'blog:tags' %}">Каталог тегов</a></p> 
    {% endcomment %}
    <hr>

    {% if user_status == 'admin'%}
    <p>Hello, admin</p>
    {% elif user_status == 'moderator'%}
    <p>Hello, moderator</p>
    {% else %}
    <p>Hello, deadman</p>
    {% endif %}
    
{% endblock content %}
