
<nav class="navbar navbar-expand-md">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% for item in menu_items %}
                    <li class="nav-item">
                        <a class="nav-link {% if item.is_active %}active{% endif %}" 
                           href="{% url item.url_name %}">
                            {{ item.title }}
                        </a>
                    </li>
                {% endfor %}
                
                {% if user.is_authenticated %}
                    <li class="nav-item ms-md-auto">
                        <form action="{% url 'users:logout' %}" method="POST" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn nav-link">
                                Выйти ({{ user.username }})
                            </button>
                        </form>
                    </li>
                {% else %}
                    <li class="nav-item ms-md-auto">
                        <a class="nav-link" href="{% url 'users:login' %}">
                            Войти
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:register' %}">
                            Регистрация
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
