<nav class="navbar navbar-expand-md">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% for item in menu_items %}
                    <li class="nav-item">
                        <a class="nav-link {% if item.is_active %}active{% endif %}" 
                           href="{% url item.url_name %}">
                            {{ item.title }}
                        </a>
                    </li>
                {% endfor %}
                
                <li class="nav-item ms-md-auto">
                    {% if user.is_authenticated %}
                        <div class="d-flex align-items-center">
                            <a href="{% url 'users:profile_detail' pk=user.pk %}" class="nav-link d-flex align-items-center me-3">
                                {% if user.avatar %}
                                    <img src="{{ user.avatar.url }}" 
                                         class="rounded-circle me-2" 
                                         alt="Аватар"
                                         style="width: 30px; height: 30px; object-fit: cover;">
                                {% else %}
                                    <div class="rounded-circle bg-dark d-flex align-items-center justify-content-center me-2"
                                         style="width: 30px; height: 30px;">
                                        <i class="bi bi-person-fill text-warning" style="font-size: 1.2rem;"></i>
                                    </div>
                                {% endif %}
                                {{user.username}}
                            </a>
                            <form action="{% url 'users:logout' %}" method="POST" class="d-inline">
                                {% csrf_token %}
                                <button type="submit" class="btn nav-link">Выйти</button>
                            </form>
                        </div>
                    {% else %}
                        <div class="d-flex">
                            <a href="{% url 'users:register' %}" class="nav-link me-3">Регистрация</a>
                            <span class="nav-link me-3">|</span>
                            <a href="{% url 'users:login' %}" class="nav-link">Вход</a>
                        </div>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>